#https://vsupalov.com/docker-arg-env-variable-guide/
#https://medium.com/vteam/configure-docker-project-for-different-environments-using-docker-compose-3-bfbef37d951c
#https://medium.com/softonic-eng/docker-compose-from-development-to-production-88000124a57c
#https://stackoverflow.com/a/48651071
#https://github.com/docker/compose/issues/6170
#https://medium.com/faun/set-current-host-user-for-docker-container-4e521cef9ffc
#https://docs.bytemark.co.uk/article/wordpress-on-docker-with-phpmyadmin-ssl-via-traefik-and-automatic-updates/
#https://github.com/docker/compose/issues/3702
# Docker compose however treats double quotes differently when parsing .env file passed as env_file: .env in docker-compose.yml.
# It does not ignore double quotes and treats them as a part of the string.

SUPERVISOR_NAME=supervisor
SUPERVISOR_TAG=bookworm